/* font-family: 'Uchen', serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Uchen', serif;
}

.home {
    /* background-image: linear-gradient(to right,#fadfdd, #af5dd5); */
    background-image: linear-gradient(to right, #f5b1a865, #972bc9c4);
    height: 150vh;
}

.home-body {
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.empty {
    width: 40%;
    /* height: 60%; */
}

.whitespace {
    height: 40%;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
}

.content {
    width: 55%;
}

.content h1 {
    font-size: 50px;
    color: aliceblue;
}

.content p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.6em;
}

.content input[type=text] {
    width: 80%;
    display: block;
    padding: 2% 3%;
    margin-bottom: 2%;
    background-color: transparent;
    border-radius: 25px;
    color: aliceblue;
    box-sizing: border-box;
    outline: none;
    border: 1px solid aliceblue;
}

.content input[type=submit] {
    padding: 2% 5%;
    display: block;
    border: none;
    background-color: rgb(238, 122, 129);
    border-radius: 25px;
    font-weight: 700;
    color: aliceblue;
}

::placeholder {
    color: aliceblue;
 }
 /*
@media only screen and (max-width: 1000px)
 {
     .empty{
         width: 90%;
     }
     .home-body{
         justify-content: space-between;
     }
     .content{
         width: 90%;
     }
 } */
/*************************************** boooks ********************************************/

.InsideTheBook {

    height: 100vh;
    padding: 100px 0 0;

}

.InsideTheBook-content {
    width: 91%;
    position: relative;
}

.InsideTheBook .content h3, .Author-text .content h3 {
    color: rgb(238, 122, 129);
    font-weight: 400;
    font-size: 38px;
    line-height: 1.3em;
}

.InsideTheBook .content h2 ,.Author-text .content h2{
    color: rgb(51, 51, 51);
    font-weight: 600;
}

.InsideTheBook-text {
    position: absolute;
    background-color: rgb(241, 238, 249);
    padding: 3%;
    border-radius: 20px;
    top: -450px;
}

.book {
    z-index: 111;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.bookDetails {
    width: 32%;
    position: relative;
    box-shadow: 0px 3px 27px -5px rgb(93 74 152 / 40%);
    border-radius: 20px;
    background-color: #fff;
    padding: 5% 1% 7%;
    transition: all 0.5s ease-in-out;
}

.bookDetails img {
    background-image: linear-gradient(90deg, rgba(69, 42, 157, 0.2) 0%, rgba(255, 144, 153, 0.2) 100%);
    background-size: auto;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.bookDetails h3 {
    font-weight: 900;
    font-size: 20px;

    line-height: 1.3em;
}

.bookDetails p {

    color: rgb(110, 110, 110);
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .book {
        justify-content: space-around;
    }

    .bookDetails {

        width: 90%;
        margin-bottom: 2%;
    }

    .InsideTheBook-text {
        background-color: transparent;
        padding: 0;
    }

    .InsideTheBook-content {
        /* margin: 0; */
    }
}

.bookDetails:hover {
    left: 15px;
}

/* *******************************************AuthorB**************************************************** */
.AboutTheAuthor {
    /* margin-top: -20%; */
    background-image: linear-gradient(90deg, rgba(69, 42, 157, 0.2) 0%, rgba(255, 144, 153, 0.2) 100%), url(//www.tubetrendz.net/wp-content/uploads/tcb_lp_templates/templates/css/images/smart_lead_gen1_author_image.jpg) !important;
background-size: cover;
}

.Author-content {
    width: 91%;
    position: relative;
    /* margin-bottom: 20% !important; */

}
.Author{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.AuthorDetails-content{
    width: 60%;
    /* padding: 5%; */
}
.AuthorDetails-content-text{
    padding: 0 5% 0 10%;
}
.AuthorDetails-image{
width: 40%;
height: 100%;
}
.Author-text {
    position: absolute;
    /* background-color: rgb(241, 238, 249); */
    margin-top: 2%;
    /* padding: 5%; */
    border-radius: 20px;
top: -300px;
}
.AuthorDetails .AuthorBackground  img{
height: 100%;
width: 50%;
}
.AuthorDetails .AuthorBackground {
 text-align: center;
 width: 100%;
 height: 100% !important;
    padding: 9%;
    /* margin: 0 auto; */
    background-image: linear-gradient(90deg, rgba(69, 42, 157, 0.2) 0%, rgba(255, 144, 153, 0.2) 100%), url(//www.tubetrendz.net/wp-content/uploads/tcb_lp_templates/templates/css/images/smart_lead_gen1_author_image.jpg) !important;

background-size: cover;
}
.AuthorDetails{
    padding: 0 !important;
}
.AuthorDetails p {
    line-height: 1.7em;
    font-size: 22px;
}


.AuthorDetails p span {
    font-weight: bold;
}

.Author {
    box-sizing: border-box;
    /* position: relative; */
    z-index: 1;
    box-shadow: 0px 7px 19px 3px rgba(93, 74, 152, 0.4);
    border-radius: 20px;
    min-height: 40px;
    background-color: #fff;

}
.AuthorDetails .icon {
    background-image: linear-gradient(90deg, rgba(69, 42, 157, 0.2) 0%, rgba(255, 144, 153, 0.2) 100%), url(//www.tubetrendz.net/wp-content/uploads/tcb_lp_templates/templates/css/images/smart_lead_gen1_author_image.jpg) !important;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.AuthorDetails-content{
    /* padding: 5%; */
}
.background {
    background-image: linear-gradient(90deg, rgba(69, 42, 157, 0.2) 0%, rgba(255, 144, 153, 0.2) 100%), url(//www.tubetrendz.net/wp-content/uploads/tcb_lp_templates/templates/css/images/smart_lead_gen1_author_image.jpg) !important;
    /* height: 50vh; */
    width: 100%;
   
}
/* *************************************************************** */
.GetStarted{
    padding: 30% 0 0;
    background-image: linear-gradient(to right, #f5b1a865, #972bc9c4);
    z-index: 111111;
    margin-top: 0;
overflow: hidden;
}
.GetStarted h1{
    font-size: 54px !important;
    padding: 1%;
    line-height: 1.2em;
    color: #fff;
}
.GetStarted-content{
padding: 1% 2% 10%;
}
.GetStarted-form{
    background-color: #fff;
    justify-content: space-between;
    padding: 5%;
    border-radius: 20px;
}
.GetStarted input[type=text] {
    padding: 22px !important; 
    width: 30%;
    background-color: rgb(251, 251, 251) !important;
    box-shadow: 0px 0px 3px 0px rgba(238, 124, 132, 0.08); 
    padding: 2% 3%;
    margin-bottom: 2%;
    background-color: transparent;
    border-radius: 25px;
    color: aliceblue;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(238, 124, 132, 0.08);
}

.GetStarted input[type=submit] {
    
    padding: 22px !important; 
    padding: 2% 5%;
    border: none;
    width: 30%;
    background-color: rgb(238, 122, 129);
    border-radius: 25px;
    font-weight: 700;
    color: aliceblue;
}

.GetStarted ::placeholder{
    color: rgba(17, 17, 17, 0.8);
}


.GetStarted .empty {
    border-radius: 20px 0 0 20px;
    background-color: #fff;
}